.title {
  background-color: #13a3e0;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-weight: 500;
  font-size: 45px;
  color: rgb(168, 57, 202);
  text-align: center;
  border-radius: 20px;
}
.contactTitle {
  background-color: #13a3e0;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}
