.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 21px;
  font-style: italic;
  font-weight: 500;
  color: aliceblue;
}
.activeLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 21px;
  font-style: italic;
  font-weight: 500;
  color: rgb(168, 57, 202);
  outline: none;
}
