.list {
  padding: 0px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 15px 25px;
  border-radius: 50px;
  border: 1px solid #4e7fca;
  margin: 30px;
  background-color: yellowgreen;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.button {
  padding: 3px 5px;
  cursor: pointer;

  border-radius: 20px;
  background-color: blue;
  color: aliceblue;
}
.button:hover,
.button:focus {
  background-color: rgb(149, 219, 240);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.button:hover,
.button:focus {
  background-color: red;
}
